# Instagram Credentials
INSTAGRAM_USERNAME=your_username
INSTAGRAM_PASSWORD=your_password

# Google Spreadsheet Settings
SPREADSHEET_KEY=your_spreadsheet_key
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
