# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environment variables
*.env
.env
state.json

# Logs
logs/

# Google Service Account Key
credentials.json

# Docker
.docker/
debug/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
